body{
    background-color: rgb(81, 123, 129);
    zoom: 200%;
}
h1{
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    align-items: center;
    text-align: center;
}
h2{
    color: black;
    font-family: cursive;
    font-style: italic;
}
h3{
    color: rgb(7, 32, 52);
    font-family: monospace;
}
a:hover{
    background-color: aquamarine;
}